<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
    Hi there!, I'm Vamsi Gajja, a proactive and detail-oriented full-stack developer with a Master’s degree in Information Systems
     from Northeastern University and a Bachelor’s in Computer Science from Kommuri Pratap Reddy Institute of Technology.
     Specializing in .NET, Angular, and SQL Server, I have a strong foundation in both front-end and back-end technologies. 
     My technical skill set includes proficiency in Python, Java, JavaScript, and SQL, 
     along with extensive experience in web frameworks like ReactJS, NodeJS, and Spring Boot.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
    I excel in developing efficient, scalable, and dynamic web applications, adept at managing SQL and NoSQL databases, 
    and ensuring seamless deployment processes using modern CI/CD practices. My experience spans multiple industries, 
    where I have successfully designed and deployed robust database solutions, integrated innovative cloud-based systems, 
    and optimized application performance to meet critical business needs.
  </p>
</section>